/*========== BODY LAYOUT ========== */
html {
	height: 100%;
}

body {
	min-height: 100% !important;
	height: 100%;
	display: block;
	margin: 0;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

textarea {
	font-family: Arial;
}

.container {
	display: table;
	height: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.container-inner {
	display: table-cell;
	vertical-align: middle;
}

.centered-elem {
	text-align: center;
	display: block;
	position: relative;
	margin: 10px auto;
}

/*========== NAVIGATION BAR ========== */
.nav-container {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	border-top: 2px solid #e5e5e5;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

ul.nav-bar {
	display: table;
	table-layout: fixed;
	position: absolute;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
}

.nav-bar li {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    height: 60px;
    padding-bottom: 8px;
}

.nav-btn-svg {
	width: 35px;
	fill: #ff75bc;
	vertical-align: bottom;
}

.nav-btn-svg-selected {
	width: 60px;
	height: 60px;
}

/*========== MAP PAGE ========== */

/*=== SEARCH BAR ===*/
.search-box {
	position: absolute;
	margin-left: 10%;
	z-index: 999;
	width: 80%;
	top: 5%;
	-webkit-box-shadow: -2px 12px 10px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 12px 10px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 12px 10px -9px rgba(0,0,0,0.75);
}

.text-input {
	width: 90%;
	border-radius: 2px;
	border: 0px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 32px;
	font-size: 0.8em;
}

#keyword {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: calc(100% - 10px);
}

.search-btn {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	height: 32px;
	width: 32px;
	background: url("../images/icons/search.jpg");
	background-color: #FFFFFF;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: transparent;
	border: 0px;
	position: absolute;
	top: 0;
	right: 0;
}

.map {
	width: 100vw;
	height: 100vh;
}

/*=== DISCOVER ===*/
.discover {
	display: block;
	position: absolute;
	top: 14%;
	width: 50%;
	margin-left: 25%;
	text-align: center;
}

.discover ul {
	padding: 0;
	margin: 0;
}

#discover-p {
	margin: 0;
	font-size: 1.4em;
	font-weight: bolder;
}

.discover ul li {
	list-style-type: none;
	display: inline-block;
	margin: 10px 5px;
	padding: 10px;
	border-radius: 50%;
	background-color: pink;
	width: 20px;
	height: 20px;
}

/*========== LOGIN / SIGNUP========== */
.background {
	background-image: url("../images/login-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	z-index: -999;
}

.logo {
	width: 100px;
}

.login-inputs {
	width: 200px;
	font-weight: bolder;
	margin-top: 20px;
	margin-bottom: 20px;
}

#uname {
	margin-top: 40px;
}

.link {
	font-style: italic;
	color: #000000;
}

#signup {
	text-decoration: none;
}

#signup p {
	width: 80px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
	padding: 5px;
	font-size: 0.8em;
}

.back-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: #FFFFFF;
	border-radius: 50%;
	border: 0;
	font-size: 1.8em;
	width: 40px;
	height: 40px;
	padding: 0px;
}

#login {
	width: 120px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 15px;
	padding: 5px 15px;
	border: 0;
	font-size: 1.0em;
}

#login:focus {
	background-color: #fca4c8;
}

/*==========  ========== */
.heading-1 {
	margin: 20px 0px 10px 0px;
}

/*========== PROFILE ========== */
.profile {
	background-color: #efefef;
}

.profile-container {
	width: 80%;
	position: absolute;
	top: 18%;
	margin-left: 10%;
	padding-bottom: 100px;
}

.profile-main-details p:nth-child(2) {
	padding-bottom: 20px;
}

#profile-name {
	font-size: 1.5em;
	font-weight: bolder;
}

.main-p {
	margin: 0;
	padding-top: 10px;
	color: #FFFFFF;
}

.profile-h1 {
	font-size: 0.9em;
}

.profile-p {
	font-size: 0.9em;
}

.profile-main-details {
	padding-top: 60px;
	text-align: center;
	background-color: #ffadc9;
}

.profile-minor-details {
	padding: 10px 20px;
	background-color: white;
}

.profile-pic {
	position: absolute;
	margin-left: calc(50% - 60px);
	top: -65px;
	border-radius: 50%;
	background-image: url("../images/profile-pic.jpg");
	background-size: cover;
	display: block;
	width: 120px;
	height: 120px;
	z-index: 9999;
}

#profile-settings {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 2.0em;
}

.tags {
	padding: 0;
}

.tags li {
	line-height: 30px;
	display: inline;
	background-color: #ffadc9;
	padding: 3px 12px;
	border-radius: 15px;
}

#edit-interests, #edit-bio {
	height: 80px;
	width: 200px;
	padding: 5px 10px;
	line-height: 20px;
	border: 1px solid #e5e5e5;
	margin: 0;
}
/*========== EVENTS ========== */
.events {
	background-color: #efefef;
}

.events-container {
	width: 80%;
	margin-left: 10%;
	padding: 20px 0px 110px 0px;
}

.add-event {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	border-radius: 15px;
	background-color: #ffadc9;
	padding: 4px 12px;
	font-size: 0.9em;
	position: relative;
}

#add-event-plus {
	position: absolute;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background-color: #FFFFFF;
	right: -6px;
	top: -6px;
	font-size: 20px;
}

.card {
	width: 100%;
	margin: 20px 0px 30px 0px;
	background-color: #FFFFFF;
}

.card-info {
	padding: 0px 15px 15px 15px;
}

.card-image {
	height: 140px;
	background-image: url("../images/events/location-image.jpg");
	background-size: 100% 140px;
	background-repeat: no-repeat;
	display: block;
}

.card-info-details {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.card-info-details li {
	display: inline-block;
}

.card-info-details li:nth-child(1) {
	width: 170px;
}

.card-info-details li:nth-child(2) {
	text-align: center;
	width: 90px;
}

.events-h2 {
	font-size: 1.0em;
}

#events-tags {
	display: inline;
}

.events-p {
	font-size: 0.8em;
	margin: 0;
	padding: 4px 0px;
}

#events-tags li {
	font-size: 0.8em;
}

/*========== CREATE EVENT ========== */
.create-event, .edit-profile {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #FFFFFF;
	z-index: 999999;
}

#cancel {
	position: absolute;
	top: 18px;
	right: 6%;
	font-size: 1.3em;
}

/*========== CREATE EVENT ========== */
.edit-header {
	list-style-type: none;
	width: 100%;
	padding: 0;
	display: table;
	position: absolute;
	border-bottom: 2px solid #e5e5e5;
	background-color: #FFFFFF;
	top: 0;
	margin: 0;
	table-layout: fixed;
	height: 50px;
}

#edit-cont-id {
	margin-top: 70px;
	background-color: #FFFFFF;
	padding-bottom: 60px;
}

.edit-header li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.edit-header li:nth-child(2) {
	width: 170px;
}

#edit-profile-pic {
	border-radius: 50%;
	background-image: url("../images/profile-pic.jpg");
	background-size: cover;
	display: block;
	width: 120px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	position: static;
}

#change-pro-pic {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-weight: bolder;
	color: #ffadc9;
}

#edit-profile-details {
	width: 100%;
	padding: 15px 15px 0px 25px;
	border-top: 2px solid #e5e5e5;
	margin-left: auto;
	margin-right: auto;
}

.edit-details-line {
	line-height: 40px;
}

.edit-profile-h1 {
	margin: 0;
	width: 100px;
	display: inline-block;
	font-size: 0.8em;
}

#edit-subheading {
	font-size: 0.6em;
	position: absolute;
	bottom: -32px;
	right: 22px;
}

#edit-name, #edit-uname, #edit-email, #edit-password, #edit-tags {
	width: 210px;
	border: 1px solid #e5e5e5;
	margin: 0;
	display: inline;
}